extends layout

block content
    div(class='infoContent')
        h1= title
        div(class='infoBlurb')  
        p
        | Hey there! My name is Matvi Mykula and I am an aspiring computer programmer. 
        | This website was built to flex the MVC (Model View Controller) style of front end templating as well as MongoDB 
        | backend data structures.